{% props dialogId, icon = '', label = '' %}

<button
  type="button"
  {# TODO: test without data-model-id here, what happens if not passed - is it clearly requested? #}
  data-dialog-id="{{ dialogId }}"
  {{ attributes.defaults(stimulus_controller('components--dialog-trigger')) }}
>
  {% block content -%}
    {{- icon -}}

    {{- label -}}
  {%- endblock %}
</button>
