<div{{ attributes }}>
  <input
    data-model="startTime"
    {# data-action="live#update" #}
    {# type="datetime-local" TODO: The specified value "2024-11-19T00:59:08+00:00" does not conform to the required format.  The format is "yyyy-MM-ddThh:mm" followed by optional ":ss" or ":ss.SSS". #}
    title="Start time"
  />

  <input
    data-model="endTime"
    {# type="datetime-local" TODO: must format for html5  #}
    title="End time"
  />

  <input
    data-model="note"
    type="text"
    title="Note"
  />

  <select
    data-model="billingCategory"
    title="Billing category"
  >
    {% for category in billingCategories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
  </select>

  <twig:NewCategoryForm />

  <div>
    <button
      data-action="live#action"
      data-live-action-param="start"
      title="Start"
    > ▶ Start
    </button>

    <button
      data-action="live#action"
      data-live-action-param="stop"
      title="Stop"
    > ■ Stop
    </button>

    <button
      data-action="live#action"
      data-live-action-param="save"
      title="Save"
    > 💾 Save
    </button>
  </div>
  </div>
</div>
