<div{{ attributes }}>
    <ul>
        {% for timeEntry in this.timeEntries %}
            <li>
                <twig:TimeEntry timeEntry="{{ timeEntry }}" />
            </li>
        {% endfor %}
    </ul>
</div>
